.wrapper{
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}
.header{
    background: url("img/hero image.png") no-repeat center/cover;
    position: absolute;
    width: 1440px;
    height: 900px;
}
.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
}
.nav{
    display: flex;
    column-gap: 23px;
}
.nav__item a{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav__item img{
    width: 20px;
}
.header__menu{
    display: flex;
    align-items: center;
    height: 70%;
    column-gap: 35px;
}
.header__phone{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid white;
    padding-left: 15px;
}
.header__contact{
    display:flex;
    align-items: center;
    column-gap: 45px;
}
.header__button{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}
.header__main{
    padding-left: 175px;
}
.header__title{
    font-weight: normal;
    color: #D67E35;
    margin-top: 203px;
    max-width: 556px;
}
.header__title h2{
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}
.header__title h1{
    font-size: 80px;
    line-height: 92px;
}
.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.header__title p::before, .header__title p::after{
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}
.header__main .header__button{
    margin-top: 35px;
}
.header__top_btn{
    display: flex;
   justify-content: center;
}
.nav__btn_mobile{
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
    margin-right: 17px;
}
.nav__btn_mobile div{
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
    margin-top: 3px;
}
.info__block{
    display: flex;
   column-gap: 31px;
    margin-left: 166px;
    position: relative;

}
.header__info{
    width: 349px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img__info{
    margin-top: 48px;
}
.header__info h4{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.header__info p{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}
