.wrapper{
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}
.header{
    height: 100vh;
    background: url("img/hero image.png") no-repeat center/cover;
}
.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
}
.nav{
    display: flex;
    column-gap: 23px;
}
.nav__item a{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav__item img{
    width: 20px;
}
.header__menu{
    display: flex;
    align-items: center;
    height: 70%;
    column-gap: 35px;
}
.header__phone{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid white;
    padding-left: 15px;
}
.header__contact{
    display:flex;
    align-items: center;
    column-gap: 45px;
}
.header__button{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background: #FF7400;
    height: 47px;
    border: none;
    cursor: pointer;
}
.header__main{
    padding-left: 175px;
}
.header__title{
    font-weight: normal;
    color: #D67E35;
    margin-top: 203px;
    width: 556px;
}
.header__title h2{
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}
.header__title h1{
    font-size: 80px;
    line-height: 92px;
}
.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.header__title p::before, .header__title p::after{
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}
.header__main .header__button{
    margin-top: 35px;
}
.header__top_btn{
    display: flex;
   justify-content: center;
}
