body{
    margin: 0;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    width: 1000px;
    height: 200px;
    background: #ccdaef;
}
.nav, .footer{
    width: 1000px;
    height: 100px;
    background: #b8d1f6;
}
.menu{
    width: 1000px;
    display: flex;
}
.main{
    width: 70%;
    height: 300px;
    background: #dadbda;
}
.aside{
    width: 30%;
    height:300px;
    background: #908e8e;
}
