@media screen and (max-width: 400px) {
.soc-icon, .nav{
    display: none;
}
    .nav_button{
        display: flex;

    }
    .products{
        padding: 10px;
    }
    .products__list, .about__grid{
        flex-direction: column;
    }
    .about__card{
        width: 100%;
    }
    .menu__item{
        height: 100%;
    }
    .menu__item_footer{
        flex-direction: column;
    }
    .item__head_imag{
        margin: 5px;
    }
    .menu__text_block{
        width: 100%;
        justify-content: center;
    }
}

