body{
    margin: 0;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1500px;
}

.right_header, .left_header{
    width: 50%;
    height: 200px;
    background: #b8d1f6;
    margin: 5px;
}
.main_header{
    width: 1490px;
    height: 200px;
    background: #ccdaef;
    margin: 5px;
}
.main_menu{
    width: 1500px;

}
.main_menu_item{
    width: 500px;
    height: 200px;
    margin: 3px;
    background: #a7b7ce;
}
